body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}

header {
    background-color: #a49ac3;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-height: 55px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 50px;
}

h1 {
    color: #9078c0;
    font-size: 36px;
}

p {
    color: #333;
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
}

#footerP {
    color: #f9f9f9;
}

button {
    background-color: #9078c0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #7b62a4;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: #f1c40f;
    text-decoration: none;
    margin-right: 20px;
}
